<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/Inicio_Forms/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Inicio_Forms/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Inicio_Forms/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Hoteles/DescripcionHotels.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Hoteles/IndexHoteles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/paquetes.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
        <nav class="EasyBooking-navbar">
            <div class="navbar-container">
                <div class="navbar-left">
                    <a href="@Url.Action("Index", "Home")" class="logo-link">
                        <img src="~/img/logoEasyBooking.png" alt="Logo EasyBooking" />
                    </a>
                </div>

                <div class="navbar-center">
                    <div class="nav-tab">
                        @{
                            var isHomePage = Context.Request.Path.Value.Equals("/") ||
                            Context.Request.Path.Value.Equals("/Home") ||
                            Context.Request.Path.Value.Equals("/Home/Index");
                        }

                        <a href="@Url.Action("Index", "Home")" class="nav-tab @(isHomePage ? "active" : "")">Inicio</a>


                        <div class="dropdown">
                            <a href="#" class="nav-tab dropdown-toggle-split">Publicaciones</a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("Index", "Hoteles")" class="dropdown-item">Hoteles 🛎️</a>
                                <a href="@Url.Action("Index", "PaquetesTuristicos")" class="dropdown-item">Paquetes Turísticos 🌴</a>
                                <a href="#" class="dropdown-item">Viajes ✈️</a>
                            </div>
                        </div>
                    </div>
                </div>

                @* Boton del perfil *@
                <div class="profile-container">
                    <button class="profile-button" id="profile-button">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                            <g fill="none" fill-rule="nonzero">
                                <path d="m2 16h28"></path>
                                <path d="m2 24h28"></path>
                                <path d="m2 8h28"></path>
                            </g>
                        </svg>
                        <div class="profile-avatar1">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 100%; width: 100%; fill: currentcolor;">
                                <path d="M16 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2zm0 5c2.486 0 4.5 2.014 4.5 4.5S18.486 16 16 16s-4.5-2.014-4.5-4.5S13.514 7 16 7zm0 20c-3.248 0-6.154-1.559-8-3.959C9.4 19.525 12.238 17 16 17c3.762 0 6.6 2.525 8 6.041-1.846 2.4-4.752 3.959-8 3.959z" />
                            </svg>
                        </div>
                    </button>

                    <!-- Profile Dropdown Menu -->
                    <div class="profile-dropdown" id="profile-dropdown">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <!-- Esta sección solo se mostrará cuando el usuario esté autenticado -->
                            <div class="dropdown-section logged-in-section">
                                <div class="dropdown-item user-name">@User.Identity.Name</div>
                            </div>

                            <div class="dropdown-section logged-in-section">
                                <a asp-controller="Usuarios" asp-action="PerfilUser" class="dropdown-item">Perfil</a>

                            </div>

                            <div class="dropdown-divider logged-in-section"></div>
                        }
                        else
                        {
                            <!-- Esta sección solo se mostrará cuando el usuario NO esté autenticado -->
                            <div class="dropdown-section logged-out-section">
                                <a asp-controller="Usuarios" asp-action="Login" class="dropdown-item">Iniciar sesión</a>
                                <a asp-controller="Usuarios" asp-action="Registro" class="dropdown-item">Registrarse</a>
                            </div>

                            <div class="dropdown-divider"></div>
                        }

                        <div class="dropdown-section">
                            <a asp-controller="Reservas" asp-action="Index" class="dropdown-item">Mis Reservas Hoteles</a>
                        </div>

                        <div class="dropdown-section">
                            <a asp-controller="ReservasPaquetes" asp-action="Index" class="dropdown-item"> Mis Reservas Paquetes T </a>
                        </div>

                        <div class="dropdown-divider"></div>

                        <!-- Esta sección se mostrará siempre -->
                        <div class="dropdown-section">
                            <a asp-controller="Home" asp-action="SobreNosotros" class="dropdown-item">Sobre Nosotros</a>
                            <a asp-controller="Support" asp-action="SupportUser" class="dropdown-item">Centro de Ayuda</a>
                        </div>

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <!-- Esta sección solo se mostrará cuando el usuario esté autenticado -->
                            <div class="dropdown-divider logged-in-section"></div>

                            <div class="dropdown-section logged-in-section">
                                <form asp-controller="Usuarios" asp-action="Logout" method="post">
                                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3" style="margin-top: 80px;">
        @RenderBody()
    </main>


    @*     @if (ViewData["HideFooter"] == null || !(bool)ViewData["HideFooter"]) *@
    @* { *@
    @*     <footer class="border-top footer text-muted"> *@
    @*         <div class="container"> *@
    @*             &copy; 2025 - EasyBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*         </div> *@
    @*     </footer> *@
    @* } *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>